<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="span2">Built By:</div>
                <div class="span9"><a href="https://erikslewis.github.io/" target="_blank">Erik Shepard-Lewis</a></div>
            </div>
            <br />
            <div class="row">
                <div class="span2">Linked In:</div>
                <div class="span9"><a href="https://www.linkedin.com/in/erik-shepard-lewis/" target="_blank">Connect with me</a></div>
            </div>
            <br />
            <div class="row">
                <div class="span2">GitHub:</div>
                <div class="span9"><a href="https://github.com/erikslewis" target="_blank">https://github.com/erikslewis</a></div>
            </div>
            <br />
            <div class="row">
                <div class="span2">Email:</div>
                <div class="span9"><a href="https://erikslewis.github.io/" target="_blank">ESLWEBDEVELOPMENT@aol.com</a></div>
            </div>
        </div>
    </div>
</div>
